# POSTGRESQL CONFIG 
DB_NAME=your_db
DB_USERNAME=your_username
DB_PASSWORD=your_password
# Prisma
DATABASE_URL="postgresql://your_username:your_password@localhost:5432/your_db?schema=public"

# AUTH CONFIG
AUTH_SECRET="# Added by `npx auth`. Read more: https://cli.authjs.dev"
NEXTAUTH_URL=http://localhost:3000
# Google Provider
AUTH_GOOGLE_ID="Get from Google Cloud Console"
AUTH_GOOGLE_SECRET="Get from Google Cloud Console"